<web-app>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.example.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/orders/*</url-pattern>
    </servlet-mapping>
</web-app>